<section id="assignments" class="py-12">
  <h2 class="text-4xl font-bold text-center mb-12">Assignments</h2>

  <div class="flex justify-center">
    <div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-8  ">

      <!-- Asssignment3 -->
      <section class="border-2 p-2 sm:p-5 rounded-md flex flex-col space-y-5 max-w-md w-fit">
        <div class="h-56">
          <img class="object-cover h-full w-full" src="/public/img/ShellScripting.png" alt="">
        </div>
        <div class="flex flex-col space-y-3 items-center">
          <h1 class="text-2xl font-semibold">Shell Scripting</h1>
          <p class="line-clamp-3">I delved into Linux, spending 5 hours connecting to a friend's computer via SSH for a
            Shell Script Assignment. Additionally, I dedicated 3 hours to mastering Git, understanding Version Control
            Systems (VCS), Git concepts, and configuring SSH keys for GitLab.</p>
        </div>
        <div class="flex justify-end">
          <a href="https://docs.google.com/document/d/1vz22URurg8xa_s_mJkqfensEePqbP1acs7UAUgx8kf8/edit?usp=sharing"
            target="_blank" class="bg-red-900 text-white px-6 py-2 rounded-md">Read More</a>
        </div>
      </section>

      <!-- Assignment 2 -->
      <section class="border-2 p-2 sm:p-5 rounded-md flex flex-col space-y-5 max-w-md w-fit">
        <div class="h-56">
          <img class="object-cover h-full w-full" src="/public/img/assignmentpic.jpg" alt="">
        </div>
        <div class="flex flex-col space-y-3 items-center">
          <h1 class="text-2xl font-semibold">Assignment Static Page</h1>
          <p class="line-clamp-3">On Day 3 of my traineeship, I delved into the fundamentals of Git and its basic
            commands. Starting with the installation of Git, I proceeded to configure it using git config and
            initialized a new repository. I learned how to checkout an existing repository, add and commit changes, and
            check the status of my repository using git status.</p>
        </div>
        <div class="flex justify-end">
          <a href="https://prekshyadali.github.io/Bajra/" target="_blank"
            class="bg-red-900 text-white px-6 py-2 rounded-md">Visit Site</a>
        </div>
      </section>

      <!-- Assignment4 -->
      <section class="border-2 p-2 sm:p-5 rounded-md flex flex-col space-y-5 max-w-md w-fit">
        <div class="h-56">
          <img class="object-cover h-full w-full" src="/public/img/assignmentpic.jpg" alt="">
        </div>
        <div class="flex flex-col space-y-3 items-center">
          <h1 class="text-2xl font-semibold">Demo</h1>
          <p class="line-clamp-2">Shell scripting is the art of writing scripts for a shell, a command-line interpreter
            that provides a user interface for accessing the operating system's services. The shell acts as an interface
            between the user and the kernel (the core of the operating system). It interprets user commands, launches
            programs, and handles file management tasks.</p>
        </div>
        <div class="flex justify-end">
          <a href="https://github.com/PrekshyaDali/Bajra_AssignmentPage" target="_blank"
            class="bg-red-900 text-white px-6 py-2 rounded-md">Read More</a>
        </div>
      </section>

    </div>
  </div>
</section>
